body{
    background-color: grey;
    color: black;
    padding: 40px;
    font-family: 'Times New Roman';
    text-align: center;
}
div{
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}